<ActionBar class="action-bar">
    <!--
         Use the NavigationButton as a side-drawer button in Android
         because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
         Use the ActionItem for IOS with position set to left. Using the
         NavigationButton as a side-drawer button in iOS is not possible,
         because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<FlexboxLayout flexDirection="column" backgroundColor="lightgray">
    <Label [text]="data" style="font-size: 10;"></Label>
    <Button class="btn btn-primary btn-active" text="Show cookie" (tap)="onButtonTap($event)"></Button>
    <TextField class="input" #email="ngModel" [(ngModel)]="input.email"></TextField>
    <TextField class="input" #password="ngModel" [(ngModel)]="input.password"></TextField>
    <Button text="Log In" class="btn btn-primary" (tap)="onLogin($event)"></Button>
    <Button text="Request data auth" class="btn btn-primary" (tap)="onRequestAuth($event)"></Button>
    <Button text="Request data non-auth" class="btn btn-primary" (tap)="onRequestNonAuth($event)"></Button>
</FlexboxLayout>
